/* Google fonts */

@import url("https://fonts.googleapis.com/css?family=Fredoka+One&display=swap");

/* Varaibles */

:root {
  --base: #ffc600;
  --spacing: 820px;
  --blur: 2px;
}

/* Helper */

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

/* Main styles */

body {
  text-align: center;
  background: #193549;
  color: white;
  font-family: "helvetica neue", sans-serif;
  font-weight: 100;
  font-size: 50px;
  margin: 0;
  padding: 0;
}

.hl {
  color: var(--base);
  font-family: "Fredoka One", cursive;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}

img {
  width: 800px;
  height: 500px;
  border: 1px solid black;
  object-fit: cover;
  filter: blur(var(--blur));
}

.spacing {
  border: 2px solid black;
  border-radius: calc(0.01 * var(--spacing));
  background-color: var(--base);
  width: var(--spacing);
  height: calc(0.63 * var(--spacing));
}
